{% extends "layout.html"%}
{%block content%}
<div class="center jumbotron col-12">
    <h1 class="display-4" align="center">Hola nosotros somos Ayphu Tec SAC</h1>
    <p class="lead" align="justify">
        Durante bastante tiempo, hemos visto cambios en nuestras actividades cotidianas que han involucrado
        a nuestras familias, nuestros trabajos y/o rutina personal. Ahora estamos en una crisis sanitaria que
        ha demostrado que debemos mejorar nuestros habitos y pensar a largo plazo.
        La sustentabilidad en el planeta es un problema que se hace mas grave cada día y como empresa buscamos
        contribuir a estos cambios globales a través de la tecnología; nuestros desarrollos involucran tecnología
        a medida para cada organización, buscando convertirlas en aliados en favor de la sustentabilidad del planeta.
        Utilizar menos papel a través de firmas digitales, reciclaje punto a punto con aplicativos móviles, gestión 
        empresarial desde los teléfonos móviles entre otros. Esto sin lugar a duda será mas prometedor si se fucionan
        estas tecnologías con la inteligencia artificial. 
    </p>
    <hr class="my-4">
    <p align="justify">Thukito es una plataforma logística y de comercio electrónico integrada, que busca 
        implementar un canal digital de comercio entre los mercados locales y productores nacionales con los
        hogares, restaurantes y empresas que busquen suministros que esten siendo comercializados actualmente en 
        estos negocios. 
        Thukito es un aliado para los comerciantes y productores, ambos se manejan en diferentes escenarios; mientras 
        uno abarca el comercio minorista y con variedad, los productores abarcan el comercio mayorista.
        Cada integrante que comercialice en la plataforma estará monitoreado por Thukito, y contará con el apoyo
        para estandarizar sus productos, empaques y otros para maximizar la presencia frente a sus consumidores. 
        Tendrán todas las herramientas necesarias por parte de Thukito. 
    </p>
    <p>    
        No lo olvides, con Thukito haces tus compras en el mercado, sin ir al mercado!!!.
    </p>
    
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Registrarse en la Encuesta
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Contamos Contigo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Cuerpo del modal -->
                <div class="modal-body">
                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">Bien Hecho!</h4>
                        <p>Tu numero de suerte es el CIX000123, guardalo que sortearemos
                            Masajes, Difusores de Aromaterapia, Vaporizadores, y bonos de Bienvenida.
                        </p>
                        <hr>
                        <p class="mb-0">
                            Nos contactaremos contigo, no olvides seguirnos en
                            https://www.facebook.com/thukito/
                        </p>
                    </div>
                </div>
                <!-- Fin Cuerpo del modal -->
            </div>
        </div>
    </div>
</div>
{%endblock%}