{% extends "layout.html"%}
{%block content%}
<div class="jumbotron">
    <h1 class="display-4" align="center">Bienvenido a Thukito</h1>
    <p class="lead" align="justify">
        Gracias por contribuir a nuestro estudio de introducción al Mercado; no olvides
        que la finalizar la encuesta obtendrás un código para sorteos (Masajes, Difusores
        de Aromaterapia, Vaporizadores, y un bonus para canje en la primera compra en www.thukito.com/cupones).</p>
    <hr class="my-4">
    <!--Contenedor de preguntas-->
    <div class="container p-4">
        <p align="justify">¿Con que frecuencia realizas tus compras de suministros(Frutas, 
            Verduras, Abarrotes, Articulos de Limpieza, Carnes, Pollo) ?
        </p>
        <ul>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question" id="q_1" value="option1">
                <label class="form-check-label" for="q_1">
                    Diario
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question" id="q_2" value="option2">
                <label class="form-check-label" for="q_2">
                    Semanal
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question" id="q_3" value="option3">
                <label class="form-check-label" for="q_3">
                    Quincenal
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question" id="q_4" value="option4">
                <label class="form-check-label" for="q_4">
                    Mensual
                </label>
            </div>
            </div>
        </ul>
        <!-- Button trigger modal -->
        <a href="/pregunta_1_2">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Siguiente Pregunta
        </button>
        </a>
    </div>
    <!--Contenedor de preguntas-->
</div>
{%endblock%}