{% extends "layout.html"%}
{%block content%}
<div class="jumbotron">
    <!--Contenedor de preguntas 1-->
    <div class="container p-4">
        <h2 align="center"> Que opinas de los precios en las plataformas digitales con los
            de tu Mercado Local </h2>
        <p align="center">(marca del 0 al 5, donde 5 es "Positivo","Demasiado" o similar segun la pregunta)</p>

        <!--Contenedor de preguntas 1-->
        <p align="justify">¿Que tan altos son los precios en las paginas de E-Commerce actuales?
        </p>
        <ul>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="op_1" value="option1">
                <label class="form-check-label" for="op_1">0</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="op_2" value="option2">
                <label class="form-check-label" for="op_2">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="op_3" value="option3">
                <label class="form-check-label" for="op_3">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="op_4" value="option4">
                <label class="form-check-label" for="op_4">3</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="op_5" value="option5">
                <label class="form-check-label" for="op_5">4</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="op_6" value="option6">
                <label class="form-check-label" for="op_6">5</label>
              </div>
        </ul>
        <!--Fin Contenedor de preguntas 1-->
        <!--Contenedor de preguntas 2-->
        <p align="justify">¿Cree usted que la situación actual obliga a realizar las compras en los
            supermercados?
        </p>
        <ul>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="op_7" value="option7">
                <label class="form-check-label" for="op_7">0</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="op_8" value="option8">
                <label class="form-check-label" for="op_8">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="op_9" value="option9">
                <label class="form-check-label" for="op_9">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="op_10" value="option10">
                <label class="form-check-label" for="op_10">3</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="op_11" value="option11">
                <label class="form-check-label" for="op_11">4</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="op_12" value="option12">
                <label class="form-check-label" for="op_12">5</label>
              </div>
        </ul>
        <!--Fin Contenedor de preguntas 2-->

        <!--Contenedor de preguntas 3-->
        <p align="justify">¿Cómo califica la organización en los mercados locales?
        </p>
        <ul>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="op_13" value="option13">
                <label class="form-check-label" for="op_13">0</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="op_14" value="option14">
                <label class="form-check-label" for="op_14">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="op_15" value="option15">
                <label class="form-check-label" for="op_15">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="op_16" value="option16">
                <label class="form-check-label" for="op_16">3</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="op_17" value="option17">
                <label class="form-check-label" for="op_17">4</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="op_18" value="option18">
                <label class="form-check-label" for="op_18">5</label>
              </div>
        </ul>
        <!--Fin Contenedor de preguntas 3-->

        <!--Contenedor de preguntas 4-->
        <p align="justify">¿Si mejoraran la infraestructura en los mercados, u anexos con que frecuencia 
            compraría?
        </p>
        <ul>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="op_19" value="option19">
                <label class="form-check-label" for="op_19">0</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="op_20" value="option20">
                <label class="form-check-label" for="op_20">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="op_21" value="option21">
                <label class="form-check-label" for="op_21">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="op_22" value="option22">
                <label class="form-check-label" for="op_22">3</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="op_23" value="option23">
                <label class="form-check-label" for="op_23">4</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="op_24" value="option24">
                <label class="form-check-label" for="op_24">5</label>
              </div>
        </ul>
        <!--Fin Contenedor de preguntas 4--> 

        <!--Contenedor de preguntas 5-->
        <p align="justify">¿Considera que los productos en los mercados locales, son mas frescos y
            módicos que la de los supermercados?
        </p>
        <ul>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="op_25" value="option25">
                <label class="form-check-label" for="op_25">0</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="op_26" value="option26">
                <label class="form-check-label" for="op_26">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="op_27" value="option27">
                <label class="form-check-label" for="op_27">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="op_28" value="option28">
                <label class="form-check-label" for="op_28">3</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="op_29" value="option29">
                <label class="form-check-label" for="op_29">4</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="op_30" value="option30">
                <label class="form-check-label" for="op_30">5</label>
              </div>
        </ul>
        <!--Fin Contenedor de preguntas 5-->        

        <!--Contenedor de preguntas 6-->
        <p align="justify">¿Si mejorarían los protocolos Sanitarios COVID-19 en los mercados locales, 
            que tan seguro se sentiría de realizar las compras en dichas zonas?
        </p>
        <ul>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="op_31" value="option31">
                <label class="form-check-label" for="op_31">0</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="op_32" value="option32">
                <label class="form-check-label" for="op_32">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="op_33" value="option33">
                <label class="form-check-label" for="op_33">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="op_34" value="option34">
                <label class="form-check-label" for="op_34">3</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="op_35" value="option35">
                <label class="form-check-label" for="op_35">4</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="op_36" value="option36">
                <label class="form-check-label" for="op_36">5</label>
              </div>
        </ul>
        <!--Fin Contenedor de preguntas 6-->               


        <!-- Button trigger modal -->
        <a href="/about">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Un poco de nosotros
        </button>
        </a>
    </div>
    <!--Contenedor de preguntas-->    
</div>
{%endblock%}